@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

.sr-only {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.airbnb-card {
  display: flex;
  padding: 24px;
  background-color: #fff;
}

.airbnb-card__img {
  width: 300px;
  height: 200px;
  margin-right: 24px;
  border-radius: 6px;
  background-image: url('./assets/img-house.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.airbnb-card__content {
  display: flex;
  flex-direction: column;
}

.airbnb-card__content header {
  display: flex;
  justify-content: space-between;
}

.plus-badge {
  margin-right: 8px;
  padding: 1px 8px;
  border-radius: 4px;
  background-color: #92174D;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25;
}

.property-type span {
  color: #7D858F;
  font-size: 1rem;
  line-height: 1.25;
}

.property-rate::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
  background-image: url('./assets/icon-star.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.property-rate strong {
  margin-bottom: 9px;
  font-weight: 400;
  line-height: 1.25;
}

.property-rate span {color: #7D858F;}

.airbnb-card__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2;
}

.airbnb-card__detail {
  color: #7D858F;
  font-size: 0.875rem;
}

.airbnb-card__detail div:first-child {
  margin-bottom: 8px;
}

.airbnb-card__detail dd span::after {
  content: "·";
  margin: 0 6px;
}

.airbnb-card__detail dd span:last-child::after {
  content: "";
  margin: 0;
}