:root {
  --color-blue: #2860E1;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: black;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1f2d3d;
  line-height: 1.25;
}

p {
  font-size: 16px;
  color: #79818b;
  line-height: 1.5;
}

span {
  font-size: 14px;
  font-weight: 400;
  color: #7d858f;
  line-height: 1.5;
}

strong {
  font-size: 22px;
  color: #2860e1;
  line-height: 1.0909090909;
}

strong span {
  font-size: 16px;
  font-weight: 400;
  color: #525d69;
  line-height: 1.5;
}

.modal {
  width: 671px;
  padding: 32px 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
}

.modal-title,
.modal-desc {
  text-align: center;
}

.modal-title {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}

.modal-desc {
  width: 540px;
  margin: 0 auto 24px;
}

.subscription-group {
  text-align: center;
}

.subscription-group input {
  width: 200px;
  height: 36px;
  padding: 0 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  background-color: #F6F8FA;
}

.subscription-group .submit {
  height: 36px;
  padding: 0 14px;
  border: none;
  border-radius: 4px;
  background-color: #2860E1;
  color: #fff;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 12.17px;
  top: 12.17px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.close::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 16px;
  background-color: #8492A6;
  transform: translateX(-8px) rotate(-45deg);
}

.close::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 16px;
  background-color: #8492A6;
  transform: translateX(-8px) rotate(45deg);
}
